.itens-cargo {
    margin: 0% 5%;
    /* height: 100%; */
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.lista-funcoes {
    margin: 30px 0px;

}

.lista-funcoes li {
    font-family: var(--font-secundaria);
    font-size: var(--font-size-subtitulo);
    font-weight: bold;
    margin-bottom: 20px;

}

.acordeao {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    /* height: 60px; */
}
.acordeao:hover {
    background-color: #74747452;
    border-radius: var(--borda-card);
}

.acordeao:before{
    content:'\25BC'; /* Sinal de "+" */
    font-size: 20px;
    float: left;
    margin-top: 50px;

}
.acordeao.active:before {
    content:'\25B2'; 
}

.painel {
    display: none; 
    overflow: hidden;
}

.painel.show {
    display: block;
}