.aba-home {
    gap: 50px;
    justify-content: center;
}

.aba-home .conteiner-projetos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao {
    justify-items: center;
    width: 60%;
    text-align: center;
}

.texto-apresentacao {
    margin: 90px 0px;
    justify-items: center;
}

.imagem-perfil {
    height: 20%;
    width: 20%;
    border-radius: var(--borda-card);
    object-fit: unset;
}

.conteiner-image {
    height: 20%;
    width: 20%;

}

.minhas-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.minhas-redes .button {
    display: flex;
    width: 70%;
    padding: 10px;
    margin: 12px;
    gap: 16px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: var(--font-size-botao);
    font-family: var(--font-primaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    border: var(--border-button);
    border-radius: 14px;
    background-color: var(--color-hover);
    color: white;

}

.minhas-redes .button:hover {
    background-color: rgba(20, 20, 20, 0.479);
    color: black;
}


.minhas-redes .button img {}

.minhas-redes .button a {}

.minhas-redes .button a:hover {}

.titulo-icone {
    width: 100%;
    justify-items: center;
    text-align: center;
    position: relative
}

.titulo-icone .subtitle {
    margin: 20px 0px;
    width: 530px;
}

.titulo-icone .div-absolute {
    position: absolute;
    top: 25%;
    transform: translateX(370%);
}

.titulo-icone .div-absolute img {
    width: 80px;
}

.row-projeto {
    justify-content: space-around !important;
}

#projetos {
    margin-top: 90px
}

.projeto {
    width: 270px;
    height: 200px;
    position: relative;
    border-radius: var(--borda-card);
    background-color: var(--color-hover);
    color: white;
    /* align-content: end; */
    display: block;
    cursor: pointer;
    object-fit: cover;
    justify-content: center;
    align-content: center;
}

.projeto a {
    /* width: 70%; */
    gap: 0px;
    font-size: var(--font-size-botao);
    padding: 0px;
    margin: 0px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-primaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 14px;

}

.projeto:hover {
    width: 280px;
    height: 210px;
    /* width: 70%; */
    gap: 0px;
    /* font-size: var(--font-size-botao); */
    padding: 0px;
    margin: 0px;
    font-family: var(--font-primaria);
    /* color: var(--cor-secundaria); */
    border: none;
    /* border-radius: 14px; */
    box-shadow: 5px 10px #c6c6c6b5;

}


.projeto .acessarprojeto {
    border-bottom-left-radius: var(--borda-card);
    border-bottom-right-radius: var(--borda-card);
    width: 100%;
    height: 20%;
    background-color: rgba(191, 191, 191, 0.632);
    justify-content: center;
    align-content: center;
    /* position: fixed; */
    position: absolute;
    /* Permite posicionar sobre o elemento pai (.projeto relative) */
    top: 90.5%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50.1%, -50%);
    /* Ajusta o alinhamento para o centro */
    z-index: 10;
    /* Garante que fique acima da imagem */
}

@media (max-width: 1050px) {

    .aba-home {
        gap: 50px;
        justify-content: center;
    }

    .aba-home .conteiner-projetos {
        gap: 25px;
        align-items: center;
        justify-content: space-evenly;
    }

    .apresentacao {
        width: 100%;
    }

    .apresentacao .texto-apresentacao {
        margin: 60px 0px;
    }

    .imagem-perfil {
       width: 25%;
    }

    .minhas-redes {
        margin-top: 30px;
    }
    
    .button{
        padding: 6px;
            width: 50%;
    }


    .projeto {
        width: 260px;
        height: 180px;
    }

    #projetos {
        margin-top: 40px
    }



}


@media (max-width: 600px) {


    .aba-home .conteiner-projetos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* ou 2 colunas se quiser */
        gap: 20px;
        justify-items: center;
    }

    .projeto {
        width: 145px;
        height: 106px;
    }
}